.caseStudy_adver{background: url(https://51qqt.com/images/caseStudy/caseStudy2.png) no-repeat center center;background-size: cover;overflow: hidden;height: 500px;}
.caseStudy_adver_title{height: 67px;font-size: 48px;line-height: 67px;margin-bottom: 24px;margin-top: 154px;}
.caseStudy_adver_xian{width: 90px;height: 6px;background: #FF761A;margin-bottom: 25px;}
.caseStudy_adver_text{height: 28px;line-height: 28px;margin-bottom: 61px;}
.caseStudy_registertil{padding: 14px 68px;}
.caseStudy_FilterHeader{padding: 20px 20px;box-shadow: 0px 2px 10px 0px rgba(154,161,174,0.1);}
.caseStudy_FilterHeader_top{margin-bottom: 20px;}
.caseStudy_FilterHeader_bottom{margin-top: 20px;}
.caseStudy_FilterHeader_topTitle{}
.caseStudy_FilterHeader_lists>div{padding: 5px 20px;height: 22px;line-height: 22px;cursor: pointer;}
.caseStudy_FilterHeader_no_chenck:hover{
    color: #005CEF;
}
.caseStudy_FilterHeader_chenck{padding: 5px 20px;background: #005CEF;border-radius: 16px;color: #FFFFFF;}
.caseStudy_Filter{padding: 48px 20px 72px 20px;background: #F7F8FA;}
.caseStudy_FilterList{margin: 0 auto;}
.caseStudy_FilterList>a{background: linear-gradient(180deg, #F2F4F7 0%, #FFFFFF 100%);box-shadow: 0px 8px 20px 0px rgba(166,180,208,0.1);border-radius: 8px;border: 1px solid #FFFFFF;cursor: pointer;transition: .1s;margin: 13px 0;overflow: hidden;}
.caseStudy_FilterList>a:hover{box-shadow: 0px 8px 20px 0px rgba(166,180,208,0.2);transform: translateY(-10px);}
.caseStudy_FilterList>a:hover .caseStudy_FilterList_img>img{transform: scale(1.1);}

.caseStudy_FilterList_img{width: 378px;height: 160px;overflow: hidden;}
.caseStudy_FilterList_Bot{padding: 24px 22px;}
.caseStudy_FilterList_BotImg{width: 56px;height: 56px;background: #FFFFFF;border: 1px solid #EBEBEB;margin-right: 12px;border-radius: 50%;}
.caseStudy_FilterList_BotTitle{height: 28px;line-height: 28px;margin-bottom: 8px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;color: #222;}
.caseStudy_FilterList_BotText{width: 262px;height: 72px;color: #555555;line-height: 24px;}
.caseStudy_FilterPages{margin:36px 0 28px 0;}
.Pagesprev{width: 8px;height: 14px;cursor: pointer;}
.Pagesnext{width: 8px;height: 14px;cursor: pointer;}
.caseStudy_FilterPages_nums{margin: 0 8px;}
.caseStudy_FilterPages_nums>div{height: 22px;color: #005CEF;line-height: 22px;padding:5px 11px 5px 11px;width: 10px;border-radius: 2px;border: 1px solid #005CEF;margin: 0 7px;cursor: pointer;display: flex;flex-direction: row;justify-content: center;}
.caseStudy_FilterPages_num{background: #FF761A;border-radius: 2px;color: #FFFFFF!important;border: 1px solid #FF761A!important;}
.caseStudyInfo_bg{padding: 60px 20px;background: #F7F8FA;}
.caseStudyInfo_label{color: #555555;height: 22px;line-height: 22px;margin-bottom: 16px;}
.caseStudyInfo_label_img{width: 6px;height: 12px;margin: 0 10px;}
.caseStudyInfo_left{background: linear-gradient(180deg, #F2F4F7 0%, #FFFFFF 100%);box-shadow: 0px 8px 20px 0px rgba(197,205,219,0.1);border-radius: 8px;border: 2px solid #FFFFFF;padding: 32px 32px 28px 32px;width: calc(100% - 420px);margin-right: 32px;}
.news_left{background: linear-gradient(180deg, #F2F4F7 0%, #FFFFFF 100%);box-shadow: 0px 8px 20px 0px rgba(197,205,219,0.1);border-radius: 8px;border: 2px solid #FFFFFF;padding: 12px 32px;width: calc(100% - 420px);margin-right: 32px;}
.caseStudyInfo_left_title{font-size: 30px;margin-bottom: 30px;}
.caseStudyInfo_left_publishtime{margin-bottom: 56px;color: #555555;height: 20px;line-height: 20px;}
.caseStudyInfo_left_text{color: #555555;line-height: 28px;margin-bottom: 24px;}
.caseStudyInfo_left_img{width: 100%;margin: 22px 0 50px 0;}
.caseStudyInfo_right{}
.caseStudyInfo_right_img{width: 320px;height: 260px;margin-bottom: 32px;}
.caseStudyInfo_rightBot{background: linear-gradient(180deg, #F2F4F7 0%, #FFFFFF 100%);box-shadow: 0px 8px 20px 0px rgba(166,180,208,0.1);border-radius: 8px;border: 2px solid #FFFFFF;padding: 22px 41px 4px 30px;}
.caseStudyInfo_rightBot_title{height: 30px;line-height: 30px;font-size: 22px;margin-bottom: 23px;border-bottom: 1px solid #EBEBEB;padding-bottom: 20px;}
.caseStudyInfo_rightBot_icon{margin-right: 10px;}
.caseStudyInfo_rightBot_iconImg{width: 24px;height: 24px;line-height: 24px;margin-bottom: 24px;}
.caseStudyInfo_rightBot_text a{height: 24px;line-height: 24px;width: 209px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;margin-bottom: 24px;display: block;color: #222222;}
.caseStudyInfo_rightBot_text a p{height: 24px;line-height: 24px;width: 209px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;margin-bottom: 24px;display: block;color: #222222;}
.caseStudyInfo_rightBot_text a:hover{color: #005CEF}
.caseStudyInfo_rightBot_text a p:hover{color: #005CEF}
.news_navs{margin-bottom: 24px;border-radius: 4px;}
.news_navs>div{padding: 18px 20px;border-bottom: 2px solid #FFFFFF;margin-right: 10px;line-height: 22px;cursor: pointer;}
.news_navschenck{font-size: 20px;color: #005CEF;font-weight: 600;border-bottom: 2px solid #005CEF!important;}
.news_listimg{width: 280px;height: 160px;border-radius: 4px;margin-right: 30px;overflow: hidden;position: relative;}
.news_list{padding: 24px 0;border-bottom: 1px solid #EBEBEB;}
.news_listright{width: calc(100% - 310px);}
.news_listright_title{height: 26px;line-height: 26px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;margin-bottom: 10px;cursor: pointer}
.news_listright_title:hover{color: #005CEF}
.news_listright_text{color: #555555;height: 44px;line-height: 22px;word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;margin-bottom: 51px;}
.news_listright_but{background: #FFFFFF;padding: 4px 11px;box-shadow: 0px 2px 6px 0px rgba(15,31,87,0.06);border-radius: 2px;color: #888888;}
.news_listright_but:hover{color: #005CEF}
.news_vidio_list{width:386px;border: 1px solid #FFFFFF;border-radius: 4px;background: linear-gradient(180deg, #F2F4F7 0%, #FFFFFF 100%);box-shadow: 0px 8px 20px 0px rgba(166,180,208,0.1);margin: 15px calc(100% - 1164px) 2px 0;cursor: pointer;transition: all 0.3s;}
.news_vidio_list:hover{
    width:386px;border: 1px solid #FFFFFF;border-radius: 4px;background: linear-gradient(180deg, #F2F4F7 0%, #FFFFFF 100%);box-shadow: 0px 8px 20px 0px rgba(166,180,208,0.5);margin: 15px 0 2px 0;cursor: pointer;transform: translateY(-10px);
}
.news_vidio_list:last-of-type{margin-right: 0;}
/*.news_vidio_list>.news_vidio_img>.notPlayImage:hover{*/
/*    transform: scale(1.1);*/
/*}*/
.news_vidio_list:hover .news_vidio_img>.notPlayImage{
    transform: scale(1.1);
}
.news_vidio_list:hover .news_vidio_title {color: #005CEF;}
.notPlayImage{transition: all 0.3s;}
.news_vidio_img{width: 386px;height: 216px;overflow: hidden;transition: all 0.3ms;border-radius: 4px;}
.news_vidio_pad{padding: 24px;}
.news_vidio_title{line-height: 28px;margin-bottom: 10px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.news_vidio_text{color: #555555;line-height: 24px;height: 20px;width: 336px;word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;}
.previous_news{
    margin-top: 30px;
    width: calc(100% - 420px);
    font-weight: 600;
}
.previous_news:hover{
    color: #005CEF;cursor: pointer;
}
.next_news{
    margin-top: 15px;
    width: calc(100% - 420px);
    font-weight: 600;
}
.next_news:hover{
     color: #005CEF;cursor: pointer;
 }
.hot_title_show_hidden{
    display: none;
}
.hot_title_show_before{
    width: 0;height: 0;border-left: 6px solid transparent;border-right: 6px solid transparent;border-bottom: 6px solid #E2E2E5;position: absolute;top: 23px;z-index: 102;left: 16px;
}
.hot_title_show_after{
    width: 0;height: 0;border-left: 8px solid transparent;border-right: 8px solid transparent;border-bottom: 8px solid #BEBEBE;position: absolute;top: 21px;z-index: 101;left: 14px;
}
.hot_title_show{
    position: absolute;top: 28px;left: 0;width: 320px;border: 1px solid #BEBEBE;border-radius:4px;z-index: 100;background: #E2E2E5;padding: 5px;font-size: 14px;
}
.news_listimg>img{
    transition: all 0.1s;
}
.news_listimg>img:hover{
    transform: scale(1.1);
}
/*.news_vidio_img>img{transition: all 0.1s;}*/
/*.news_vidio_img>img:hover{*/
/*    transform: scale(1.1);*/
/*}*/

.videoContainer{
    /* position: absolute;top: 0;left: 0; */
    width: 878px;
}
.videoListContainer{
    color: #FFFFFF;background: rgba(34, 35, 37, 1);overflow-y: auto;height: 584px;padding: 19px 20px 0 20px;
}
.videoListItem{
    width: 282px;margin-bottom: 20px;overflow: hidden;
    transition: all 0.3s;
}
.videoListItem:hover{
    background: rgba(255, 255, 255, 0.10);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
}
.video_img{
    border-radius: 4px;height: 158px;overflow: hidden;
}
.video_img>img{
    transition: all 0.3s;
}
.videoListItem:hover img{
    transform: scale(1.1);
}
.videoListItem:hover .videoListTitleText{
    color: rgba(255, 118, 26, 1);
}
.videoListTitleText{
    width: 282px;
    height:22px;text-align: left;font-size: 16px;padding:0 8px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;
    margin-top: 10px;
    color: #FFFFFF;
}
/* .videoListItem:hover .videoListTitleText:hover{
    color: #005CEF;
} */
.videoListDescriptionText{
    width: 282px;
    text-align: left;max-height: 100px;line-height: 20px;font-size: 12px;padding:0 8px;overflow: hidden;word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    margin-top: 10px;
    margin-bottom: 6px;
}
.videoTitleText{
    width: 857px;text-align: left;height: 33px;line-height: 33px;font-size: 24px;margin-top: 24px;padding-left: 20px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;
}
.videoDescriptionText{
    width: 857px;text-align: left;height: 22px;line-height: 22px;font-size: 16px;margin-top: 8px;padding-left: 20px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;margin-bottom:24px;
}


.about_video_imgplay{width: 60px;height: 60px;position: absolute;top: calc(50% - 30px) ;left: calc(50% - 30px);}
.caseStudy_mag{margin:13px 30px!important;}
@media screen and (max-width:1240px) {
    .caseStudy_mag{margin:13px 0!important;}
    .videoListContainer,.videoTitleText,.videoDescriptionText{display: none;}
    
    .videoContainer{position: relative;padding: 0 16px;margin: auto;}
}
@media screen and (max-width:582px) {
    .caseStudy_adver{text-align: center;background: url(https://51qqt.com/images/caseStudy/caseStudy_bg.png) no-repeat center center;background-size: cover;height: 280px;margin-top: 57px;}
    .caseStudy_adver_title{font-size: 24px;margin-top: 80px;margin-bottom: 16px;line-height: 33px;height: 33px;}
    .caseStudy_adver_xian{width: 48px;margin: 0 auto;margin-bottom: 16px;}
    .caseStudy_adver_text{font-size: 14px;margin-bottom: 4px;}
    .caseStudy_registertil{font-size: 14px;padding: 11px 42px;}
    .caseStudy_FilterHeader{padding: 14px 0px;}
    .caseStudy_FilterHeader_img{width: 8px;height: 7px;margin-left: 8px;}
    .caseStudy_FilterHeader_img>img{display: block!important;}
    .caseStudy_FilterHeader_top{margin-bottom: 0;}
    .caseStudy_FilterHeader_lists{position: absolute;background: #FAFBFC;left: 0;top: 35px;width: 100%;box-shadow: 0px 4px 16px 0px rgba(55,99,170,0.1);z-index: 1;}
    .caseStudy_FilterHeader_chenck{background: #FAFBFC;color: #005CEF;}
    .caseStudy_FilterHeader_lists>div{padding: 0 16px;margin: 16px 0;}
    .caseStudy_Filter{padding: 16px;}
    .caseStudy_FilterList_Bot{padding: 20px;}
    .caseStudy_FilterList_Botright{width: calc(100% - 70px);}
    .caseStudy_FilterList_BotTitle{font-size: 18px;margin-bottom: 4px;height: 25px;line-height: 25px;}
    .caseStudy_FilterList_BotText{width: 100%;font-size: 14px;line-height: 24px;height:auto;}
    .caseStudy_FilterList>a{margin: 0 0 16px 0;}
    .caseStudyInfo_bg{padding: 20px 0 0px 0;}
    .phone_navs_relative{position: relative;height: 50px;margin-bottom: 20px;overflow: scroll;}
    .news_navs{position: absolute;flex-wrap: nowrap;padding: 0 27px;}
    .news_navs>div{width: max-content;padding:14px 0 12px 0;margin-right: 30px;border-bottom: 2px solid #fff;}
    .news_navs>div:last-of-type{margin-right: 0;}
    .news_navschenck{font-size: 16px;}
    .news_vidio_list{margin: 0 16px 16px 16px;width: calc(100% - 32px);}
    .news_vidio_img{width: 100%;height: auto;}
    .news_vidio_pad{padding: 20px;}
    .news_vidio_title,.news_listright_title{font-size: 16px;height: 22px;line-height: 22px;margin-bottom:12px;}
    .news_vidio_text,.news_listright_text{width: 100%;height: auto;line-height: 24px;}
    .news_left{width: calc(100% - 32px);margin-right:0;padding: 0px 16px;border: none;box-shadow:none;}
    .news_list{padding: 0 0 16px 0;background: linear-gradient(180deg, #F2F4F7 0%, #FFFFFF 100%);}
    .news_list:last-child{padding:0;}
    .news_listimg{width: 100%;margin-right:0;height: auto;}
    .news_listimg img{display: block;}
    .news_listright{width: calc(100% - 44px);box-shadow: 0px 4px 16px 0px rgba(55,99,170,0.1);border-radius: 4px;border: 2px solid #FFFFFF;padding: 20px;border-top: none;}
    .caseStudyInfo_right{display: none;}
    .caseStudy_FilterPages{margin: 30px 0;}
    
    .caseStudyInfo_label{font-size: 14px;height: 20px;line-height: 20px;padding: 10px 16px 0px 16px;}
    .caseStudyInfo_left{width: calc(100% - 32px);margin-right:0;background: none;border: none;padding:0 16px}
    .caseStudyInfo_label_text{width: calc(100% - 140px);overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
    .caseStudyInfo_left_title{font-size: 22px;line-height: 32px;margin-bottom:16px;}
    .caseStudyInfo_left_publishtime{font-size: 12px;line-height: 17px;height: 17px;margin-bottom: 30px;}
    .caseStudyInfo_left_text{font-size: 14px;line-height: 24px;}
    .next_news{display: none;}
    .previous_news{display: none;}
}
.informationTop{
    position: absolute;top: 12px;left: 12px;color: white;font-weight: 400;font-size: 14px;line-height:23px;border-radius: 2px;text-align:center;width: 40px;height: 22px;background: linear-gradient(270deg, #FFA328 0%, #FF761A 100%);z-index: 10;
}