[v-cloak]{
    display: none;
}
.colorhui{color: #8e8e8e;}
.colorgary{color: #555555;}
.colorbai{color: #FFFFFF!important;}
.colorblack{color: #000000;}
.colorfooter{color: #979797;}
.colorhui888{color: #888888;}
.colorred{color: #c83030;}
.colorblue{color: #005CEF!important;}
.colorblue a{color: #005CEF!important;}
.colororigin{color: #FF761A;}
.bgbai{background-color: #FFFFFF;}
.bghead{background-color: #FAFBFC;}
.bgfooter{background: #1A1C1F;}
.bgblue{background-color: #005CEF;}
.bgorigin{background-color: #e3730d;}
.bgpink{background-color: #fdf4ec;}
.bggray{background: #F7F8FA;}
.tac{text-align: center;}
.tar{text-align: right;}
.fonwei{font-weight: bold;}
.paddboth{padding: 0 15px;}
.padbott{padding-bottom: 55px;}
.imgsize{width: 100%;height: 100%;}
.xian_head{border-bottom: 1px solid #EBEBEB;}
.xian_headsolid{border-bottom: 1px solid #EBEBEB;}
.xian_footer{border-bottom: 1px solid rgba(255,255,255,0.1);}
.porelative{position: relative;}
.padBg{padding: 60px 20px;}
.padCompanys{padding: 60px 0;}
.fontWeightNormal{font-weight: normal}
/* home -webkit-transition: 2s; transition: 2s;*/
.header{position: fixed;top: 0;z-index: 100;width: 100%;margin: 0 auto;background-color: rgba(255,255,255,0.8);}
.headershow{background-color: rgba(255,255,255);}
.header:hover{background-color: rgba(255,255,255,1)!important;box-shadow:0px 8px 20px 0px rgba(166,180,208,0.3)!important;}
.heiheader{height: 74px;}
.poheader{width: 100%;height: 100%;position: fixed;z-index: 100000;}
.homeHead_appleStytle{font-weight: 600;}
.homeHead_appleStytle_normal{font-weight: normal;}
.PingFangSCMedium{font-weight: 600;}
.PingFangSCMediumNormal{font-weight: normal;}
.PingFangSCMediumBanner{font-weight: 500;}
.homeHead{}/*box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.05);*/
.homephoneHead{padding: 14px 20px;display: none;}
.menu_buttonstyle{width: 55px;height: 19px;}
.menu_button {cursor: pointer;margin-left: 30px;position: absolute;}
.menu_button .bar:nth-of-type(1) { margin-top: 0px;}
.menu_button .bar:nth-of-type(3) { margin-bottom: 0px;}
.bar { position: relative; display: block; width: 24px; height: 2px; margin: 5px auto; background-color: #333; border-radius: 10px;-webkit-transition: .3s; transition: .3s; }
.cross{margin-top: -8px;}
.cross .bar{ margin:13px auto; }
.cross .bar:nth-of-type(1) { -webkit-transform: translateY(15px) rotate(-45deg);-ms-transform: translateY(15px) rotate(-45deg); transform: translateY(15px) rotate(-45deg);}
.cross .bar:nth-of-type(2) {  opacity: 0;}
.cross .bar:nth-of-type(3) { -webkit-transform: translateY(-15px) rotate(45deg); -ms-transform: translateY(-15px) rotate(45deg); transform: translateY(-15px) rotate(45deg);}
.logosize{width: 120px;height: 40px;margin-right: 25px;}
.homeNav>li{height: 22px;font-size: 16px;color: #222222;padding: 25px 15px;border-bottom: 2px solid rgba(0,0,0,0);}
.homeNav a{color: #222222;}
.homeNav li ul{display: none;}
.iconsize{width: 16px;height: 16px;}
.iconxia{background: no-repeat url(https://51qqt.com/img/home44.png);background-size:100%;width: 10px;height: 8px;margin-left: 4px;margin-bottom: 2px;}
.iconxiablue{background: no-repeat url(https://51qqt.com/img/home43.png);background-size:100%;width: 10px;height: 8px;}
.iconright{background: no-repeat url(https://51qqt.com/img/home46.png);background-size:100%;width: 7px;height: 11px;margin-left: 5px;-webkit-transition: .5s; transition: .5s;}
.iconrightgary{background: no-repeat url(https://51qqt.com/img/home45.png);background-size:100%;width: 7px;height: 11px;margin-left: 5px;-webkit-transition: .5s; transition: .5s;}
.homeHead_phone{color: #005CEF;margin-left: 10px;}
.homeHead_logintil{color: #333333;margin:0 30px;}
.homeHead_logintil:hover{color: #005CEF;}
.homeHead_popUpStyle{border-radius: 0px 0px 4px 4px;box-shadow:  0px 8px 20px 0px rgba(55,99,170,0.2);position: absolute;top: 74px;left: 0px;width: 100%;z-index: 10;opacity: 0;height: 0;overflow: hidden;max-height: 20px;transition: max-height .25s ease-in-out,opacity .25s ease-in-out;}
.hobverPopUp:hover .hobverPopUp_text a{color: #005CEF;}
.hobverPopUp_text>a:hover{color: #005CEF;cursor: pointer;}
.hobverPopUp:hover{border-bottom: 2px solid #005CEF;}
.hobverPopUp:hover .iconxia{background: no-repeat url(https://51qqt.com/img/home43.png);background-size:100%;width: 10px;height: 8px;}
.hobverPopUp:hover .homeHead_popUpStyle{opacity: 1;height: auto;overflow: inherit;max-height: 688px;border-top: 1px solid #E6E8EE;}
.homephoneHead_height{height: 100%;}
.shownavs{height: calc(100% - 67px);display: none;}
.homephoneHead_left{width: 110px;border-right: 1px solid #EBEBEB;height: 100%;}
.homephoneHead_left>a{margin: 10px 0;padding: 10px 0 10px 20px;height: 20px;line-height: 20px;display:inline-block;width: calc(100% - 24px);border-left: 4px solid #fff;font-weight: 600;}
.homephoneHead_leftList{color: #005CEF;border-left: 4px solid #005CEF!important;}
.homephoneHead_left_link{margin: 10px 0;padding: 10px 0 10px 20px;height: 20px;line-height: 20px;display:inline-block;width: calc(100% - 24px);border-left: 4px solid #fff;display: block;}
.homephoneHead_right{margin-left: 20px;width: calc(100% - 131px);padding: 20px 0;display: none;}
.homephoneHead_right_title{height: 20px;line-height: 20px;padding-bottom: 20px;border-bottom: 1px solid #EBEBEB;font-weight: 600;}
.homephoneHead_navs{padding: 0px 24px;height: calc(100% - 79px);overflow: auto;}
.homephoneHead_nav{padding: 16px 0px;color: #222;}
.homephoneHead_navicon{width: 10px;height: 7px;}
.homephoneHead_navchild{margin-left: 16px;display: none;}
.homephoneHead_navchild a{display: block;}
.homephoneHead_navchild_title{font-weight: 400;}
.homephoneHead_navchild_Subhead{margin: 26px 0 26px 38px;padding-right: 20px;}
.shownavchild_text{display: none;}
.homephoneHead_navchild_text{margin: 25px 0 25px 38px;width: 100%;display: block;}
.homephoneHead_right_text{margin: 15px 0 15px 0px;width: 100%;display: block;}
/* 导航产品弹窗 */
.homeHead_productpopUp_saas{background: linear-gradient(135deg, rgba(0,85,255,0) 0%, rgba(0,85,255,0.04) 100%);}
.homeHead_productpopUp_left{padding: 42px 30px;width: 160px;height: 269px;background: no-repeat url(https://51qqt.com/img/home47.png);background-size:100%;}
.homeHead_productpopUp_right{padding: 20px 40px;width: calc(100% - 300px);color: #222222;}
.homeHead_productpopUp_rightText{padding: 0 50px 0 30px;}
.homeHead_productpopUp_rightText>div{margin-bottom: 14px;}
.homeHead_productpopUp_rightText>a{margin-bottom: 14px;display: block;cursor: pointer;}
.homeHead_productpopUp_rightText>a:hover{color: #005CEF;}
.homeHead_productpopUp_title{margin-bottom: 4px!important;}
.homeHead_productpopUp_title:hover a{color: #005CEF;}
.homeHead_productpopUp_title:hover .iconright{margin-left:15px}
.homeHead_productpopUp_title:hover .iconrightgary{margin-left:15px;background: no-repeat url(https://51qqt.com/img/home46.png);background-size:100%;}
.homeHead_productpopUp_titleicon1{position: relative;}
.homeHead_productpopUp_titleicon1::before{content:'';background: no-repeat url(https://51qqt.com/img/home74.png);background-size:100%;width: 30px;height: 30px;position: absolute;top: -8px;left: -38px;}
.homeHead_productpopUp_titleicon2{position: relative;}
.homeHead_productpopUp_titleicon2::before{content:'';background: no-repeat url(https://51qqt.com/img/home75.png);background-size:100%;width: 30px;height: 30px;position: absolute;top: -8px;left: -38px;}
.homeHead_productpopUp_titleicon3{position: relative;}
.homeHead_productpopUp_titleicon3::before{content:'';background: no-repeat url(https://51qqt.com/img/home76.png);background-size:100%;width: 30px;height: 30px;position: absolute;top: -8px;left: -38px;}
.homeHead_productpopUp_titleicon4{position: relative;}
.homeHead_productpopUp_titleicon4::before{content:'';background: no-repeat url(https://51qqt.com/img/home77.png);background-size:100%;width: 30px;height: 30px;position: absolute;top: -8px;left: -38px;}
.homeHead_productpopUp_titleicon5{position: relative;}
.homeHead_productpopUp_titleicon5::before{content:'';background: no-repeat url(https://51qqt.com/img/home80.png);background-size:100%;width: 30px;height: 30px;position: absolute;top: -8px;left: -38px;}
.homeHead_productpopUp_subheading{color: #888888;margin-bottom: 20px!important;}
.homeHead_productpopUp_paas{padding-left: 100px;background: linear-gradient(135deg, rgba(0,85,255,0) 0%, rgba(0,85,255,0.04) 100%);}
.homeHead_productpopUp_paas_left{padding: 50px 30px;width: 160px;height: 40px;background: no-repeat url(https://51qqt.com/img/home48.png);background-size:100%;}
.homeHead_productpopUp_paas_right{padding: 30px 40px;width: calc(100% - 300px);color: #222222;}
.homeHead_productpopUp_paas_right>a{background: linear-gradient(180deg, #F2F4F7 0%, #FFFFFF 100%);box-shadow: 0px 4px 10px 0px rgba(166,180,208,0.1);border-radius: 4px;border: 2px solid #FFFFFF;padding: 18px;width: 240px;height: 41px;cursor: pointer;}
.homeHead_productpopUp_paas_right>a:hover{box-shadow: 0px 4px 10px 0px rgba(166,180,208,0.2);}
.homeHead_productpopUp_paas_right>a:hover .homeHead_appleStytle{color: #005CEF;}
.homeHead_productpopUp_paas_right_subheading{color: #999999;margin-top: 8px;}
.homeHead_productpopUp_paastitleicon1{position: relative;}
.homeHead_productpopUp_paastitleicon1::before{content:'';background: no-repeat url(https://51qqt.com/img/home59.png);background-size:100%;width: 44px;height: 44px;position: absolute;top: -27px;left: 200px;}
.homeHead_productpopUp_paastitleicon2{position: relative;}
.homeHead_productpopUp_paastitleicon2::before{content:'';background: no-repeat url(https://51qqt.com/img/home60.png);background-size:100%;width: 44px;height: 44px;position: absolute;top: -29px;left: 200px;}
.homeHead_productpopUp_paastitleicon3{position: relative;}
.homeHead_productpopUp_paastitleicon3::before{content:'';background: no-repeat url(https://51qqt.com/img/home61.png);background-size:100%;width: 44px;height: 44px;position: absolute;top: -29px;left: 200px;}
/* 导航解决方案弹窗 */
.homeHead_solutionPopUp_left{background: linear-gradient(135deg, rgba(0,85,255,0) 0%, rgba(0,85,255,0.04) 100%);}
.homeHead_solutionPopUp_leftTitle{padding: 37px 30px;width: 160px;height: 146px;background: no-repeat url(https://51qqt.com/img/home8.png);background-size:100%;}
.homeHead_solutionPopUp_rightText{padding: 20px 10px 10px 40px;width: 170px;cursor: pointer;}
.homeHead_solutionPopUp_rightText:hover{background: #F7f8fa;}
.homeHead_solutionPopUp_rightText:hover .homeHead_productpopUp_title{color: #005CEF;}
.homeHead_solutionPopUp_subheading{color: #888888;}
.homeHead_solutionPopUp_titleicon1{position: relative;}
.homeHead_solutionPopUp_titleicon1::before{content:'';background: no-repeat url(https://51qqt.com/img/home38.png);background-size:100%;width: 20px;height: 20px;position: absolute;top: 2px;left: -25px;}
.homeHead_solutionPopUp_titleicon2{position: relative;}
.homeHead_solutionPopUp_titleicon2::before{content:'';background: no-repeat url(https://51qqt.com/img/home20.png);background-size:100%;width: 20px;height: 20px;position: absolute;top: 2px;left: -25px;}
.homeHead_solutionPopUp_titleicon3{position: relative;}
.homeHead_solutionPopUp_titleicon3::before{content:'';background: no-repeat url(https://51qqt.com/img/home22.png);background-size:100%;width: 20px;height: 20px;position: absolute;top: 2px;left: -25px;}
.homeHead_solutionPopUp_titleicon4{position: relative;}
.homeHead_solutionPopUp_titleicon4::before{content:'';background: no-repeat url(https://51qqt.com/img/home24.png);background-size:100%;width: 20px;height: 20px;position: absolute;top: 2px;left: -25px;}
.homeHead_solutionPopUp_titleicon5{position: relative;}
.homeHead_solutionPopUp_titleicon5::before{content:'';background: no-repeat url(https://51qqt.com/img/home19.png);background-size:100%;width: 20px;height: 20px;position: absolute;top: 2px;left: -25px;}
.homeHead_solutionPopUp_titleicon6{position: relative;}
.homeHead_solutionPopUp_titleicon6::before{content:'';background: no-repeat url(https://51qqt.com/img/home21.png);background-size:100%;width: 20px;height: 20px;position: absolute;top: 2px;left: -25px;}
.homeHead_solutionPopUp_titleicon7{position: relative;}
.homeHead_solutionPopUp_titleicon7::before{content:'';background: no-repeat url(https://51qqt.com/img/home23.png);background-size:100%;width: 20px;height: 20px;position: absolute;top: 2px;left: -25px;}
.homeHead_solutionPopUp_titleicon8{position: relative;}
.homeHead_solutionPopUp_titleicon8::before{content:'';background: no-repeat url(https://51qqt.com/img/home25.png);background-size:100%;width: 20px;height: 20px;position: absolute;top: 2px;left: -25px;}
.homeHead_solutionPopUp_titleicon9{position: relative;}
.homeHead_solutionPopUp_titleicon9::before{content:'';background: no-repeat url(https://51qqt.com/img/home26.png);background-size:100%;width: 20px;height: 20px;position: absolute;top: 2px;left: -25px;}
.homeHead_solutionPopUp_titleicon10{position: relative;}
.homeHead_solutionPopUp_titleicon10::before{content:'';background: no-repeat url(https://51qqt.com/img/home28.png);background-size:100%;width: 20px;height: 20px;position: absolute;top: 2px;left: -25px;}
.homeHead_solutionPopUp_titleicon11{position: relative;}
.homeHead_solutionPopUp_titleicon11::before{content:'';background: no-repeat url(https://51qqt.com/img/home30.png);background-size:100%;width: 20px;height: 20px;position: absolute;top: 2px;left: -25px;}
.homeHead_solutionPopUp_titleicon12{position: relative;}
.homeHead_solutionPopUp_titleicon12::before{content:'';background: no-repeat url(https://51qqt.com/img/home31.png);background-size:100%;width: 20px;height: 20px;position: absolute;top: 2px;left: -25px;}
.homeHead_solutionPopUp_titleicon13{position: relative;}
.homeHead_solutionPopUp_titleicon13::before{content:'';background: no-repeat url(https://51qqt.com/img/home27.png);background-size:100%;width: 20px;height: 20px;position: absolute;top: 2px;left: -25px;}
.homeHead_solutionPopUp_titleicon14{position: relative;}
.homeHead_solutionPopUp_titleicon14::before{content:'';background: no-repeat url(https://51qqt.com/img/home29.png);background-size:100%;width: 20px;height: 20px;position: absolute;top: 2px;left: -25px;}
.homeHead_solutionPopUp_titleicon15{position: relative;}
.homeHead_solutionPopUp_titleicon15::before{content:'';background: no-repeat url(https://51qqt.com/img/home32.png);background-size:100%;width: 20px;height: 20px;position: absolute;top: 2px;left: -25px;}
.homeHead_solutionPopUp_titleicon16{position: relative;}
.homeHead_solutionPopUp_titleicon16::before{content:'';background: no-repeat url(https://51qqt.com/img/home34.png);background-size:100%;width: 20px;height: 20px;position: absolute;top: 2px;left: -25px;}
.homeHead_solutionPopUp_titleicon17{position: relative;}
.homeHead_solutionPopUp_titleicon17::before{content:'';background: no-repeat url(https://51qqt.com/img/home33.png);background-size:100%;width: 20px;height: 20px;position: absolute;top: 2px;left: -25px;}
.homeHead_solutionPopUp_titleicon18{position: relative;}
.homeHead_solutionPopUp_titleicon18::before{content:'';background: no-repeat url(https://51qqt.com/img/home35.png);background-size:100%;width: 20px;height: 20px;position: absolute;top: 2px;left: -25px;}
/* 咨询中心弹窗 */
.homeHead_informationPopUp_left{background: linear-gradient(135deg, rgba(0,85,255,0) 0%, rgba(0,85,255,0.04) 100%);}
.homeHead_informationPopUp_Title{padding: 48px 20px;width: 570px;height: 138px;background: no-repeat url(https://51qqt.com/img/home9.png);background-size:100% 100%;}
.homeHead_informationPopUp_leftTitle{margin-bottom: 12px;}
.homeHead_informationPopUp_right{padding: 48px 40px;width: calc(100% - 690px);}
.homeHead_informationPopUp_rightText{padding: 10px 20px 10px 40px;width: 190px;cursor: pointer;height: 49px;color: #222222;}
.homeHead_informationPopUp_rightText:hover .homeHead_productpopUp_title{color: #005CEF;}
.homeHead_informationPopUp_rightText:hover .iconrightgary{background: no-repeat url(https://51qqt.com/img/home46.png);background-size:100%;width: 7px;height: 11px;margin-left: 15px;}
.homeHead_playvidio{background: linear-gradient(270deg, #008EFF 0%, #005CEF 100%);border-radius: 2px;padding: 8px 22px;margin-top: 29px;cursor: pointer;}
.homeHead_playvidio:hover{
    background: linear-gradient(270deg, rgba(0, 142, 255, 0.8) 0%, rgba(0, 92, 239, 0.8) 100%);
}
/* 关于我们弹窗 */
.homeHead_aboutUsPopUp_padd{padding: 45px 0px;}
.homeHead_aboutUsPopUp_Text{width: 176px;background: #F7F8FA;padding: 24px 32px;height: 72px;}
.homeHead_aboutUsPopUp_Text:hover .homeHead_aboutUsPopUp_title{color: #005CEF;}
.homeHead_aboutUsPopUp_Text:hover .iconrightgary{background: no-repeat url(https://51qqt.com/img/home46.png);background-size:100%;width: 7px;height: 11px;margin-left: 15px;}
.homeHead_aboutUsPopUp_title{margin-bottom: 9px;margin-left: 30px;}
.homeHead_aboutUsPopUp_titleicon1{position: relative;}
.homeHead_aboutUsPopUp_titleicon1::before{content:'';background: no-repeat url(https://51qqt.com/img/home17.png);background-size:100%;width: 20px;height: 20px;position: absolute;top: 2px;left: -25px;}
.homeHead_aboutUsPopUp_titleicon2{position: relative;}
.homeHead_aboutUsPopUp_titleicon2::before{content:'';background: no-repeat url(https://51qqt.com/img/home36.png);background-size:100%;width: 20px;height: 20px;position: absolute;top: 2px;left: -25px;}
.homeHead_aboutUsPopUp_titleicon3{position: relative;}
.homeHead_aboutUsPopUp_titleicon3::before{content:'';background: no-repeat url(https://51qqt.com/img/home16.png);background-size:100%;width: 20px;height: 20px;position: absolute;top: 2px;left: -25px;}
.homeHead_aboutUsPopUp_titleicon4{position: relative;}
.homeHead_aboutUsPopUp_titleicon4::before{content:'';background: no-repeat url(https://51qqt.com/img/home37.png);background-size:100%;width: 20px;height: 20px;position: absolute;top: 2px;left: -25px;}
/* 底部 */
.footer{padding-top: 60px;}
/* .footer_topstyle{margin: 0 120px;} */
.footer_leftstyle{margin-right: 100px;}
.footer_rightstyle{width: calc(100% - 380px);margin-bottom: 16px;}
.footer_logosize{width: 120px;height: 40px;margin-bottom: 20px;}
.footer_textpadd{margin: 10px 0 32px 0;}
.footer_contactimg{width: 120px;height: 120px;border-radius: 2px;}
.footer_contactimgpadd{margin-right: 30px;margin-bottom: 15px;}
.footer_linkstyle{margin-top: 20px;color: rgba(255,255,255,0.6);}
.footer_linkmag{margin-right: 24px;}
.footer_firstlinkmag{margin-top: 0!important;}
.footer_linkstyle a{margin: 16px 0;display: block;color: rgba(255,255,255,0.6);}
.footer_aboutstyle a{color: rgba(255,255,255,0.6);padding: 30px 0;margin-right: 54px;}
.blogroll{color: rgba(255,255,255,0.6);padding: 30px 0;margin-right: 54px;}
.footer_aboutstyle a:hover{color: #FFFFFF;}
.footer_bottom{padding: 30px 0;background: #0D0E10;}
.footer_bottom a,.footer_bottom div{color: rgba(255,255,255,0.6)!important;}
.footer_bottomtext{margin-right: 40px;margin-left: 40px;}
.footer_bottom_num{margin-left: 10px;}
/* 头部标题样式 */
.manufacturing_adver_title{font-size: 48px;line-height: 62px;}
/* 移动端头部 */


.displayBox{
    display: -webkit-box;
}
.videoPageWidth{
    width: 100%;
}
.cursorDefault{
    cursor: default;
}
.aHover>a:hover{
    color: #005CEF;
}
.bgfooter a:hover{color: #FFFFFF;}
.tuomaogz{
    margin-top: 10px;
}

.homeHead_registertil_scf{
    padding: 10px 32px;color: #FFFFFF;background: linear-gradient(270deg, #FFA328 0%, #FF761A 100%);border-radius: 4px;width: 64px;text-align: center;cursor: pointer;
    position: relative;
    transition: background 0.3s;
}

.homeHead_registertil{
    padding: 10px 32px;color: #FFFFFF;background: linear-gradient(to right,#005CEF,#239BFF);border-radius: 4px;width: 64px;text-align: center;cursor: pointer;
    position: relative;
    transition: background 0.3s;
}

.homeHead_registertil:after,.homeHead_registertil:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: linear-gradient(to right,#005CEF,#239BFF);
    z-index:-2;
    border-radius: 4px;
}

.homeHead_registertil:hover{
    z-index:1;
    background:transparent;
}

.homeHead_registertil:before {
    transition: 0.3s;
    background: linear-gradient(270deg, #FFA328 0%, #FF761A 100%);
    z-index:-1;
}

.homeHead_registertil:hover:after,.homeHead_registertil:hover:before {
    width: 100%;
}


.product_index_banner_register{
    padding: 13px 68px;color: #005CEF;background: #FFFFFF;border-radius: 4px;width: 56px;text-align: center;cursor: pointer;
    position: relative;
    transition: background 0.3s;
}

.product_index_banner_register:after,.product_index_banner_register:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #FFFFFF;
    z-index:-2;
    border-radius: 4px;
}

.product_index_banner_register:hover{
    z-index:1;
    background:transparent;
    color: #FFFFFF;
}

.product_index_banner_register:before {
    transition: 0.3s;
    background: linear-gradient(270deg, #FFA328 0%, #FF761A 100%);
    z-index:-1;
}

.product_index_banner_register:hover:after,.product_index_banner_register:hover:before {
    width: 100%;
}


.index_banner_register{
    padding: 13px 68px;
}
/* 右下脚浮窗 */
.rightView{position: fixed;top: 50%;right: 2px;transform: translateY(-61px);}
.rightView_kf{padding: 10px 6px 9px 6px;border: 2px solid #FFFFFF;;background: linear-gradient(180deg, #FF5717 0%, #FC9A2C 100%);;border-radius: 40px 40px 0 0;box-shadow: 4px 8px 20px 0px rgba(55,99,170,0.1);margin-bottom: 8px;cursor: pointer;}
.rightView_kf_none{padding: 10px 6px 9px 6px;margin-bottom: 8px;cursor: pointer;height: 102px;}
.rightView_kfImg{width: 60px;height: 60px;border-radius: 50%;margin-bottom: 9px;}
.rightView_kfText{color: #FF761A;padding: 4px;background: #FFFFFF;height: 20px;line-height: 20px;border-radius: 2px;}
.rightView_trial{padding: 10px 10px 8px 10px;box-shadow: 4px 8px 20px 0px rgba(55,99,170,0.1);border-radius: 4px;border: 2px solid #FFFFFF;background: linear-gradient(180deg, #F5F7FA 0%, #FFFFFF 100%);margin-bottom: 8px;cursor: pointer;}
.rightView_trialImg{width: 30px;height: 30px;margin: 0 auto;margin-bottom: 8px;}
.rightView_trialText{height: 20px;color: #555555;line-height: 20px;}
.rightView_trial:hover .rightView_trialText{color: #ff761a;}
.rightView_chatUs{position: absolute;z-index: 1000;bottom: 8px;right: 88px;background: linear-gradient(180deg, #F5F7FA 0%, #FFFFFF 100%);box-shadow: 4px 8px 20px 0px rgba(55,99,170,0.1);border-radius: 4px;border: 2px solid #FFFFFF;padding: 18px 18px 10px 18px;display: none;}
.rightView_chatUsImg{width: 144px;height: 144px;margin-bottom: 8px;}
.rightView_chatUsText{color: #FF761A;height: 20px;line-height: 20px;}
.rightView_trial:hover .rightView_chatUs{display: block;}
.rightView_showkf{position: absolute;z-index: 1000;top: 36px;right: 80px;background: linear-gradient(180deg, #F5F7FA 0%, #FFFFFF 100%);box-shadow: 4px 8px 20px 0px rgba(55,99,170,0.1);border-radius: 4px;border: 2px solid #FFFFFF;padding: 0 18px;width: 280px;display: none;}
.rightView_right{width: 7px;height: 12px;background: no-repeat url('https://51qqt.com/img/rightView_leftorige.png') ;background-size: 100%;}
.rightView_showkfImg{width: 44px;height: 44px;margin-right: 14px;}
.rightView_showkfList{padding: 18px 0;}
.rightView_showkfTitle{color: #222222;height: 22px;line-height: 22px;margin-bottom: 2px;}
.rightView_showkfText{color: #9A9089;height: 20px;line-height: 20px;}
/*.rightView_kf:hover ~ #newBridge{display: block !important;}*/
/*#newBridge{*/
/*    display: none !important;*/
/*}*/
.rightView_showkfList:hover .rightView_right{background: no-repeat url('https://51qqt.com/img/rightView_left.png');background-size: 100%;}
.rightView_showkfList:hover .rightView_showkfTitle{color: #FF761A;}
#newBridge{z-index: 10;}
@media screen and (max-width:1335px) {
    .header{height: auto;}
    .heiheader{height: 66px;}
    .homeHead{padding: 0 20px;}
    .homeHead_logintil {margin: 0 25px;}
    .homephoneHead_menu {display: inline-block;transition: all .2s linear;}
    input[name='nav']:checked+ .homephoneHead_menu {
		 transform: rotate(90deg);
	  }
    .footer_topstyle{margin:0 30px}
    .footer_leftstyle{margin-right: 30px;}
    
    .footer_leftstyle{margin-right: 30px;}
    .homeHead_registertil{margin: 18px 0;}
    .homeHead_productpopUp_paastitleicon1::before{content:'';background: no-repeat url(https://51qqt.com/img/home59.png);background-size:100%;width: 30px;height: 30px;position: absolute;top: -5px;left: -38px;}
    .homeHead_productpopUp_paastitleicon2::before{content:'';background: no-repeat url(https://51qqt.com/img/home60.png);background-size:100%;width: 30px;height: 30px;position: absolute;top: -5px;left: -38px;}
    .homeHead_productpopUp_paastitleicon3::before{content:'';background: no-repeat url(https://51qqt.com/img/home61.png);background-size:100%;width: 30px;height: 30px;position: absolute;top: -5px;left: -38px;}
}
@media screen and (max-width:1120px) {
    .homeHead{display: none;}
    .homephoneHead{display: flex;}
}
@media screen and (max-width:780px) {
    .footer_rightstyle{width: 100%;}
    
    .rightView{display: none;}
    .footer_bottom_num{width: 100%;margin-left: 0;margin-bottom: 10px;}
    .footer{padding-top: 30px;}
    .footer_topstyle{padding: 0 20px;margin: 0;}
    .footer_aboutstyle {display: none;}
    .logosize{height: 28px;width: 80px;}
    .manufacturing_adver_title{font-size: 24px;line-height: 33px;margin-bottom: 4px;}
    .footer_bottomtext{margin-left:0;}
}
.saasNavItemIcon{
    width: 30px;height: 30px;position: absolute;top: -8px;left: -38px;
}
.paasNavItemIcon{
    width: 30px;height: 30px;position: absolute;top: -8px;left: -38px;
}
.navIcon{
    width: 20px;height: 20px;position: absolute;top: 2px;left: -25px;
}
.aboutNavIcon{
    width: 20px;height: 20px;position: absolute;top: 2px;left: 5px;
}
.mobileSaasNavIcon{
    width: 30px;height: 30px;position: absolute;top: -8px;left: -38px;
}
.mobilePaasNavIcon{
    width: 44px;height: 44px;position: absolute;top: -27px;left: 200px;
}